- test 먼저 생성

In [1]:
import pandas as pd
import os

In [2]:
import numpy as np
import random

In [3]:
from tqdm import tqdm

In [16]:
os.listdir('../Data/mv/train_test.txt')

['mv_1M.csv',
 's_mean_adj_mat.npz',
 'mv_weight*0.01.npy',
 'mv1m_data(to_list,stars_mean).csv',
 's_adj_mat.npz',
 's_norm_adj_mat.npz',
 'train.txt',
 '.ipynb_checkpoints',
 'mv1m_business_id_list.txt',
 'test.txt',
 'mv1m_user_id_list.txt',
 'train_test.txt',
 'mv_weight*1.npy']

In [8]:
data = pd.read_csv('../Data/mv/mv1m_data(to_list,stars_mean).csv')

In [13]:
data.head()

   userID  movieID  Rating  movie_rating_mean
0       0     1010       5           4.390725
1       0      598       3           3.464762
2       0      774       3           4.154088
3       0     2965       4           3.863775
4       0     2017       5           3.854375

In [114]:
train_test = []

%%time
for i in range(6036): # 전체 유저 수
    train_test.append(i)
    train_test.extend(list(data.loc[data['userID'] == i]['movieID'].values))
    train_test.extend('\n')

In [172]:
with open('../Data/train_test.txt', 'w', encoding = 'UTF-8') as f:
    for name in train_test:
        if name == '\n':
            f.write(str(name))
        else:
            f.write(str(name) + ' ')
f.close()

- '' 제거해야함 => l.strip('\n').split() 해결 가능

- train, test 80% 으로 나누기

In [17]:
random.seed(777)
f = open('../Data/mv/train_test.txt', 'r')
datas = f.readlines()
f.close()

In [25]:
# 1-fold
train_list = []; test_list = []
random.seed(777)

for data in tqdm(datas):
    index = data.split()[0]
    etc = data.split()[1:]
    random.shuffle(etc)
    
    test = etc[round(len(etc)*0.8):]
    test_list.extend([index] + test)
    test_list.extend('\n')
    
    train = etc[:round(len(etc)*0.8)]
    train_list.extend([index] + train)
    train_list.extend('\n')

  0%|          | 0/52491 [00:00<?, ?it/s]

In [ ]:
with open('../Data/train.txt', 'w', encoding = 'UTF-8') as f:
    for name in train_list:
        if name == '\n':
            f.write(str(name))
        else:
            f.write(str(name) + ' ')
f.close()

In [ ]:
with open('../Data/test.txt', 'w', encoding = 'UTF-8') as f:
    for name in test_list:
        if name == '\n':
            f.write(str(name))
        else:
            f.write(str(name) + ' ')
f.close()

In [19]:
# 2-flod
train_list = []; test_list = []
random.seed(777)

for data in tqdm(datas):
    index = data.split()[0]
    etc = data.split()[1:]
    random.shuffle(etc)
    
    test = etc[round(len(etc)*0.6):round(len(etc)*0.8)]
    test_list.extend([index] + test)
    test_list.extend('\n')
    
    train = (etc[round(len(etc)*0.0) : round(len(etc)*0.6)] + 
             etc[round(len(etc)*0.8) : round(len(etc)*1.0)])
    train_list.extend([index] + train)
    train_list.extend('\n')

100%|██████████| 6036/6036 [00:01<00:00, 4666.15it/s]

In [20]:
with open('../Data/mv/2fold_train.txt', 'w', encoding = 'UTF-8') as f:
    for name in train_list:
        if name == '\n':
            f.write(str(name))
        else:
            f.write(str(name) + ' ')
f.close()

with open('../Data/mv/2fold_test.txt', 'w', encoding = 'UTF-8') as f:
    for name in test_list:
        if name == '\n':
            f.write(str(name))
        else:
            f.write(str(name) + ' ')
f.close()

In [21]:
# 3-flod
train_list = []; test_list = []
random.seed(777)

for data in tqdm(datas):
    index = data.split()[0]
    etc = data.split()[1:]
    random.shuffle(etc)
    
    test = etc[round(len(etc)*0.4):round(len(etc)*0.6)]
    test_list.extend([index] + test)
    test_list.extend('\n')
    
    train = (etc[round(len(etc)*0.0) : round(len(etc)*0.4)] + 
             etc[round(len(etc)*0.6) : round(len(etc)*1.0)])
    train_list.extend([index] + train)
    train_list.extend('\n')

100%|██████████| 6036/6036 [00:01<00:00, 5075.52it/s]

In [22]:
with open('../Data/mv/3fold_train.txt', 'w', encoding = 'UTF-8') as f:
    for name in train_list:
        if name == '\n':
            f.write(str(name))
        else:
            f.write(str(name) + ' ')
f.close()

with open('../Data/mv/3fold_test.txt', 'w', encoding = 'UTF-8') as f:
    for name in test_list:
        if name == '\n':
            f.write(str(name))
        else:
            f.write(str(name) + ' ')
f.close()

In [23]:
# 4-flod
train_list = []; test_list = []
random.seed(777)

for data in tqdm(datas):
    index = data.split()[0]
    etc = data.split()[1:]
    random.shuffle(etc)
    
    test = etc[round(len(etc)*0.2):round(len(etc)*0.4)]
    test_list.extend([index] + test)
    test_list.extend('\n')
    
    train = (etc[round(len(etc)*0.0) : round(len(etc)*0.2)] + 
             etc[round(len(etc)*0.4) : round(len(etc)*1.0)])
    train_list.extend([index] + train)
    train_list.extend('\n')

100%|██████████| 6036/6036 [00:01<00:00, 4964.07it/s]

In [24]:
with open('../Data/mv/4fold_train.txt', 'w', encoding = 'UTF-8') as f:
    for name in train_list:
        if name == '\n':
            f.write(str(name))
        else:
            f.write(str(name) + ' ')
f.close()

with open('../Data/mv/4fold_test.txt', 'w', encoding = 'UTF-8') as f:
    for name in test_list:
        if name == '\n':
            f.write(str(name))
        else:
            f.write(str(name) + ' ')
f.close()

In [25]:
# 5-flod
train_list = []; test_list = []
random.seed(777)

for data in tqdm(datas):
    index = data.split()[0]
    etc = data.split()[1:]
    random.shuffle(etc)
    
    test = etc[round(len(etc)*0.0):round(len(etc)*0.2)]
    test_list.extend([index] + test)
    test_list.extend('\n')
    
    train = etc[round(len(etc)*0.2) : round(len(etc)*1.0)]
    train_list.extend([index] + train)
    train_list.extend('\n')

100%|██████████| 6036/6036 [00:01<00:00, 5282.36it/s]

In [26]:
with open('../Data/mv/5fold_train.txt', 'w', encoding = 'UTF-8') as f:
    for name in train_list:
        if name == '\n':
            f.write(str(name))
        else:
            f.write(str(name) + ' ')
f.close()

with open('../Data/mv/5fold_test.txt', 'w', encoding = 'UTF-8') as f:
    for name in test_list:
        if name == '\n':
            f.write(str(name))
        else:
            f.write(str(name) + ' ')
f.close()

- set을 하게 되면 중복된 아이템이 사라지게됨

- test 파일 문제 최소 4건이 뽑혀야 하는데 2건 3건 등 자주 보임 -> test먼저 20% 뽑는걸로 해결?